* {
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* color: white; */
    
}
body {
    display: flex;
    justify-content: center;
    color: white;
}
main {
    color: black;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    background-color: #333333;
    background-image: url(../images/image1.png);
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 400px;
    margin-top: 10%;

}
div {
        background-color: #ffffff60;
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
       
}
#question {
    height: 80px;
    padding-right: 20px;   
    margin: 20px;
    font-size: 28px;
    text-align: center;

}

.choice {
    height: 30px;
    margin: 10px 0px 10px 30px;
    width: 70%;
    padding: 5px 0px 0px 10px;
    font-size: 20px
}