* {
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* color: white; */
    border-radius: 10px;
    /* user-select: none; */
  /* -webkit-user-select: none;  */
  /* -moz-user-select: none;  */
  /* transition: all .5s; */
    
}
body {
    background-color: black;
    background-image: url(../images/background.jpg);

    display: flex;
    justify-content: center;
    color: white;
    
}
main {
    color: black;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    background-color: #333333;
    background-image: url(../images/image1.png);
    background-position: center;
    background-size: cover;
    width: 70%;
    height: 400px;
    margin-top: 10%;
    

}
div {
        background-color: #ffffff60;
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        font-size: 20px;
        border-style: solid;
        
        
       
}




#game-start, #game-restart, #num-answers, #time-warning, #high-score{
    
    font-family: 'futurama','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    flex-direction: column;
    justify-content: center;
    /* height: 80px; */
    height:100%;
    padding-right: 20px;   
    margin: 20px;
    font-size: 70px;
    text-align: center;

    
}
#game-start {
     display: flex;
}
#game-restart {
    display: none;
}




.confirm {

    font-size: 36px;
   
}

#question {

    font-family: 'futurama','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 80px; */
    height: 100%;
    padding-right: 20px;   
    margin: 20px;
    font-size: 30px;
    text-align: center;
    

}


#game-board {
    /* display: flex; */
    /* display: none; */
    flex-direction: row;
}
#choice-block {
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: #00000000;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    padding: 10px;
    border-style: none;

}

.choice {
    height: 30px;
    margin: 10px 0px 10px 0px;
    padding: 5px 0px 0px 10px;
    transition: all 0.2s;

}

.choice:hover {
    background-color: #ffffff99;
}
.choice:active {
    /* margin: 5px 5px 15px -5px;
    padding: 5px 0px 0px 10px; */
    margin: 12px -3px 8px 3px;
    padding: 5px 0px 0px 10px;
    box-shadow: inset -3px -3px 10px #00000099;
}



#initials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #00000000;
    filter: none;
    -webkit-filter: none;
    border-style: none;
    margin: 20px;

    width: 100%;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
}
#initials  div {

    height: 90px;
    
    font-size: 80px;
    width: 200px;

    
}
 #initials aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    font-size:24px;
    width: 40%;
    margin: 20px;

    /* border-style: solid; */
    
    
}

#high-score {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */

}

#high-score header {
    font-size: 80px;
    margin: 20px;
}

#high-score section {
    display: flex;
    flex-direction: row;
    justify-content: center;

    
    /* padding: 1px; */
    /* width: 100%; */
    /* margin-left: 10%; */
    /* margin-right: 10%; */
   


    
}

#score-display {
        /* font-family: menlo, 'Courier New', Courier, monospace; */
        /* font-size: 30px;  */
        background-color: #161816ea;
        padding: 2px;
        border: 20px solid #b3b68e;
        

}
#score-display div {
    font-family: menlo, 'Courier New', Courier, monospace;
    font-size: 24px; 
    color: #00ff00;
    margin: 2px;
    text-align: left;
    

}





#score {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: #ffffff60;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    margin: 10px;
    padding: 10px;
}
#score div {
    display: flex;
  
}
#score div div{
  width: 50%;
}

#time {

    height: 100%;
    font-size: 80px;
    justify-content: center;
    padding: 10%;
}
#time-clock, #endgame-dialog, .confirm, #initials, #high-score header{
    font-family: 'futurama','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#time-warning {
    position: absolute;
    color: #ff000000;
    /* right: 50px; */
    /* margin: 10px -10px -10px -100px; */
    /* display: none; */
    transition: 1s;

}

.no-border {
    border-style: none;
    background-color: #00000000;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    
}



@font-face {
    font-family: 'futurama';
    src: url('../fonts/AMBIENT.TTF');
    /* font-size: 40px; */
   
}